body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* 카드를 펼치면 화면 창에 스크롤바가 생긴다(상하, 좌우 둘 다)
당장은 상관없지만 만약 큰 홈페이지 안에 이 효과를 집어넣을 경우 문제가 생길 수 있다. 그래서 spread의 부모인 body에 overflow;hidden을 줌으로써 body를 넘어가는 것들은 자연스럽게 안보이게 했다. 그러니 스크롤바가 생기지 않았다. */

.spread {
  margin-left: 100px;
  width: 240px;
  height: 360px;
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.spread:hover > .box1 {
  transform: translate(10px)  rotateZ(-10deg);
}

.spread:hover > .box2 {
  transform: translate(140px, -80px)  rotateZ(-160deg);
}

.spread:hover > .box3 {
  transform: translate(320px, 70px)  rotateZ(48deg);
}

.spread:hover > .box4 {
  transform: translate(570px, 120px) rotateZ(144deg);
}

.spread:hover > .box5 {
  transform: translate(690px, -170px) rotateZ(222deg);
}

.spread:hover > .box6 {
  transform: translate(880px, 210px) rotateZ(320deg);
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  position: absolute;
  width: 240px;
  height: 360px;
}

.box1 {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  z-index: 6;
  transition: 0.3s;
}

.box1-front strong {
  display: inline-block;
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.box1-front{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(1px);
  backface-visibility: hidden;
  background-color: orangered;
}

.box1-front .circle {
  width: 15px;
  height: 15px;
  background-color: white;
  margin-left: 200px;
  margin-top: 210px;
  border-radius: 50%;
}

.box2 {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  z-index: 5;
  transition: 0.4s;
}

.box2-front strong {
  display: inline-block;
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.box2-front{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(1px);
  backface-visibility: hidden;
  background-color: #52E252;
}

.box2-front .circle {
  width: 15px;
  height: 15px;
  background-color: white;
  margin-left: 200px;
  margin-top: 210px;
  border-radius: 50%;
}

.box3 {
  transform-style: preserve-3d;
  z-index: 4;
  transition: 0.6s;
}

.box3-front strong {
  display: inline-block;
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.box3-front{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(1px);
  backface-visibility: hidden;
  background-color: #FF1493;
}

.box3-front .circle {
  width: 15px;
  height: 15px;
  background-color: white;
  margin-left: 200px;
  margin-top: 210px;
  border-radius: 50%;
}

.box4 {
  transform-style: preserve-3d;
  z-index: 3;
  transition: 0.8s;
}

.box4-front strong {
  display: inline-block;
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.box4-front{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(1px);
  backface-visibility: hidden;
  background-color: #3232FF;
}

.box4-front .circle {
  width: 15px;
  height: 15px;
  background-color: white;
  margin-left: 200px;
  margin-top: 210px;
  border-radius: 50%;
}

.box5 {
  transform-style: preserve-3d;
  z-index: 2;
  transition: 1s;
}

.box5-front strong {
  display: inline-block;
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.box5-front{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(1px);
  backface-visibility: hidden;
  background-color: #9400D3;
}

.box5-front .circle {
  width: 15px;
  height: 15px;
  background-color: white;
  margin-left: 200px;
  margin-top: 210px;
  border-radius: 50%;
}

.box6 {
  transform-style: preserve-3d;
  z-index: 1;
  transition: 1.2s;
}

.box6-front strong {
  display: inline-block;
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.box6-front{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(1px);
  backface-visibility: hidden;
  background-color: #FF8200;
}

.box6-front .circle {
  width: 15px;
  height: 15px;
  background-color: white;
  margin-left: 200px;
  margin-top: 210px;
  border-radius: 50%;
}